<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        {% for k, v in data.items() %}
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/default_cover.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ v['artist'] }}</h5>
              <p class="card-text">This is a the track "{{ v['track'] }} by {{ v['artist'] }} of genre {{ v['genre'] }}"</p>
              <a href="{{ v['populatiry'] }}" class="btn btn-primary">Spotify Link</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <!-- Bootstrap JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>











