<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
          <h2>Twitter Handle</h2>
          <form action="{{ url_for('twitter_sentiments_route') }}" method="get">
              <label for="">Twitter Handle: </label>
              <input type="text" name = "twitter_handle" value="Enter a Twitter Handle">
              <br>
              <input type="submit" value="Load Playlist">
          </form>
      </div>
       <!-- <a href="{{ url_for('twitter_sentiments_route', twitter_handle=twitter_handle) }}">{{ twitter_handle }}</a> -->

        <div>
            <select name="cars" id="cars">
                {% for g in spotify_db %}
                    <OPTION value='volvo'>{{ g }}</option>
                {% endfor %}


            </select>
        </div>
    </body>
</html>
